/* clearfix */
.slides-carousel .owl-wrapper:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
/* display none until init */
.slides-carousel { display: none; position: relative; width: 100%; -ms-touch-action: pan-y; }
.slides-carousel .owl-wrapper { display: none; position: relative; -webkit-transform: translate3d(0px, 0px, 0px); }
.slides-carousel .gsh-wrapper-outer { overflow: hidden; position: relative; width: 100%; }
.slides-carousel .gsh-wrapper-outer.autoHeight { -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.slides-carousel .gsh-item { float: left; }
.gsh-controls .gsh-page, .gsh-controls .gsh-buttons div { cursor: pointer; }
.gsh-controls {-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
/* mouse grab icon */
.grabbing { cursor: url(grabbing.html) 8 8, move; }
/* fix */
.slides-carousel .owl-wrapper, .slides-carousel .gsh-item { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); z-index:9; cursor:pointer; margin: 0 0;}

/* next and prev */

.gsh-controls .gsh-buttons {position:absolute; top:50%; left:0px; width:100%;}
.gsh-controls .gsh-buttons .gsh-prev, .gsh-controls .gsh-buttons .owl-next {float:left; width:50px; height:43px; cursor:pointer; text-align:left; text-indent:-999999px;}
.gsh-controls .gsh-buttons .gsh-prev { background: rgba(0, 0, 0, 0) url("../images/btn-prew.png") no-repeat scroll left top;  margin-left: -22px; position: absolute; left: -5px; top:-20px; width: 23px;}

.gsh-controls .gsh-buttons .gsh-next { background: rgba(0, 0, 0, 0) url("../images/btn-next.png") no-repeat scroll left top;  float: right;
    margin-right: -22px; position: absolute; right:-8px; top:-20px; width: 23px;}

/* ----Products Categories---- */	

.products-categ .gsh-controls .gsh-buttons .gsh-next{right:-20px; top:-15px;}
.products-categ .gsh-controls .gsh-buttons .gsh-prev{left:0; top:-15px;}

/*-----Our Blogs---*/
.our-blogs .gsh-controls .gsh-buttons .gsh-next{top:-376px;}
.our-blogs .gsh-controls .gsh-buttons .gsh-prev{top:-376px;}
.slider_class2 {
  float: left;
  margin-top: 20px;
  width: 100%;
}
.itme-row .attachment-shop_thumbnail.size-shop_thumbnail {
    width:95% !important;
}
.slider_class1 {
    margin: auto;
    width: 74%;
}